<div class="chat-item">
    <div class="chat-item__avatar-wrap"><img class="chat-item__avatar" src="{{ avatar }}" alt=""></div>
    <div class="chat-item__head">
        <div class="chat-item__name">{{ name }}</div>
        <div class="chat-item__date">{{ date }}</div>
    </div>
    <div class="chat-item__msg">{{ msg }}</div>
    <div class="chat-item__count" data-count="{{ count }}"></div>
</div>