<div class="chat-item">
    <a href="#" class="chat-item__avatar-wrap" chat="{{ id }}">
        <img class="chat-item__avatar" src="{{ avatar }}" alt="">
    </a>
    <div class="chat-item__head">
        <a href="#" class="chat-item__name" chat="{{ id }}">{{ name }}</a>
        <div class="chat-item__date">{{ date }}</div>
    </div>
    <a href="#" class="chat-item__msg" chat="{{ id }}">{{ msg }}</a>
    <div class="chat-item__count" data-count="{{ count }}"></div>
</div>