<button class="button button_{{type}}{{#if mode}} button_{{mode}}{{/if}}{{#if classes}} {{classes}}{{/if}}" {{#if page }}page="{{page}}"{{/if}} {{#if style}}style="{{style}}"{{/if}}>{{label}}</button>