<div class="profile-row">
    <label class="profile-row__wrap">
        <div class="profile-row__label">{{label}}</div>
        <input class="pprofile-row__input pprofile-row__input_{{type}}" name="{{name}}" type="{{type}}" value="{{value}}">
    </label>
    <div class="profile-row__error">{{error}}</div>
</div>