<div id="message-{{id}}" class="message {{#if_eq sender 'self'}}message_self{{/if_eq}}">
    <div class="message__avatar"><img src="{{avatar}}" alt="{{sender}}"></div>
    <div class="message__wrap">
        <div class="message__head">
            <div class="message__sender">{{#if_eq sender "self"}}Rocky{{else}}{{sender}}{{/if_eq}}</div>
            <div class="message__date">{{date}}</div>
        </div>
        <div class="message__text">{{msg}}</div>
    </div>
</div>
{{#if attach}}
<div class="message-attach {{#if_eq sender 'self'}}message-attach_self{{/if_eq}}" data-message="{{id}}">
    {{#each attach}}
    <div class="message-attach__item"><img src="{{this}}" alt=""></div>
    {{/each}}
</div>
{{/if}}